<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>

	<% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1> HI HI HI
	   HI HI
	   	 HI
	   	</h1>


<%= link_to "About", about_path %>