<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1> HI HI HI
	   HI HI
	   	 HI
	   	</h1>


<%= link_to "About", about_path %>